<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <extensions>
    <!--<add assembly="EMG.Logging" />-->
  </extensions>

  <variable name="ApplicationName" value="EMG Elasticsearch Search Updater" />

  <targets async="true">
    <target name="console" xsi:type="ColoredConsole" />
    <!--<target name="loggly" xsi:type="EMG-Loggly" layout="${message}"/>-->
    <target xsi:type="File" name="txtFile" fileName="${cached:cached=true:inner=${date:format=yyyyMMdd-HHmmss}}.txt" layout="${longdate}|${level:uppercase=true}|${logger}${newline}${all-event-properties:separator= - :includeCallerInformation=True}${newline}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="txtFile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <!--<logger name="*" minlevel="Info" writeTo="loggly" />-->
  </rules>


  <!--<targets>
    <target name="console" xsi:type="ColoredConsole" />
    <target xsi:type="File" name="txtFile" fileName="${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.txt" layout="${longdate}|${level:uppercase=true}|${logger}${newline}${all-event-properties:separator= - :includeCallerInformation=True}${newline}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="txtFile" />
  </rules>-->

</nlog>